/*CSS document*/
body {
    margin: 1em;
    font-family: quasimoda, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #403900;
    line-height: 1.6em;
    background-color: #FFF3D8;
}

section{
    max-width: 40em;
    margin: 0 auto 3em;
}

figure{
    margin: 0 1em 0 0;
}
header{
    grid-column: 1/3;
}

header h1{
    width: 20%;
}

a{
    text-decoration-line: none;
}

h2{
    color: #403900;
    font-family: verveine, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    text-decoration-line: none;
}

h3{
    color: #22078C;
    font-family: verveine, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-decoration-line: none;
}
@media screen and (min-width: 60em){
    div.container {
        max-width: 70em;
        margin: 0 auto;
    }
    
    main{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 0 1em;
    }
    section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        max-height: 40em;
    }

    section.mainstory figure{
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure div{
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure div img{
        height: 100%;
        opacity: 0;
        margin: 0;
        flex: 0 0 3em;
    }

    
    section.mainstory figure figcaption{
        flex: 0 0 3em;
        font-family: quasimoda, sans-serif;
        font-weight: 300;
        font-style: italic;
        color: #C9D199;
        flex: 0 0 3em;
    }

    section.mainstory h3{
        flex: 0 0 auto;
        font-family: verveine, sans-serif;
        font-weight: 200;
        font-style: normal;
        text-decoration-line: none;
        flex: 0 0 3em;
    }

    section.primary{
        grid-column: 4/5;
        flex: 0 0 3em;
    }

    section.secondary{
        grid-column: 1/2;
        flex: 0 0 3em;
    }
}

ul {
    list-style-type: none;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 0;
    background-color: #FFF3D8;
}

img {
    width: 100%;
    }

section a{
    color: #DEB68C;
}
nav a{
    color: #7487B3;
}

nav ul li{
    display: inline;
    margin: 2em;
}

footer{
    grid-column: 1/5;
}