/*CSS DOCUMENT*/
 /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */
div.container
{
	max-width: 50em;
	margin: auto;	
}

header
{
	grid-column: 1/3;
}

figure
{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column: 1/3;
}

main
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.ingredients {
    margin: .75em 0em 0em 0em;
}

.directions {
    margin: .75em 0em 0em 0em;
} 

body
{
	display: grid;
	background-color: #D6DDFF;
	font-family: Arial;
	margin-left: 20em;
	margin-right: 20em;
	color: #00056E;
}

img
{ 
    width: 100%; /*Please leave this line.*/
    display: grid;
    grid-template-columns: 75% auto;
}

h1
{
 	background-color: #F7F7FF;
 	font-family: Brush Script MT;
 	font-size: 2.75em;
 	color: #00056E;
 	margin: .80em 0em 0em .95em;
 	
}

h2
{
	font-family: Arial;
	font-size: 1em;
	color: #383EBA;
	margin: .25em 0em 0em 2em;

}

h3
{
	font-family: Brush Script MT;
	font-size:2em;	
	color: #383EBA;
	margin: 0em 0em 0em 2em;
	
}

figcaption {
    margin: .25em 0em 0em 1.75em;
    color: #383EBA;
    font-family: Arial;
    font-size: 0.795em;
   
}

ul
{
	font-family: Arial;
	font-size:1em;
	color:#00056E;
	list-style-type: square;
}


/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
