/*CSS DOCUMENT*/
{margin: 50;	padding: 20;	border: 50;	vertical-align: center;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */
div.container
{
	max-width: 40em;
	margin: auto;	
}

figure
{
	display: grid;
	grid-template-columns: 60% auto;
}


body
{
	display: grid;
	grid-template-columns: 40% auto;
	background-color: #D6DDFF;
	font-family: Arial;
	margin-left: 20em;
	color: #00056E;
}

img
{ 
    width: 100%; /*Please leave this line.*/
    display: grid;
    grid-template-columns: 75% auto;
}

h1
{
 	background-color: #F7F7FF;
 	font-family: Brush Script MT;
 	font-size: 5em;
 	color: #00056E;
 	text-decoration: underline;
 	grid-column: 1/3;
 	
}

h2
{
	font-family: Arial;
	font-size: 2em;
	color: #383EBA;

}

h3
{
	font-family: Brush Script MT;
	font-size:2em;	
	color: #383EBA;
	
}

ul
{
	font-family: Arial;
	font-size:1em;
	color:#00056E;
	list-style-type: square;
}


/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
